@model HRMS.Models.Application
@{
    ViewData["Title"] = "Applicationlist";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Applicationlist</h1>
<form action="/Applicant/Applicationlist" method="get">
    <div class="card">
        <div class="card-body">
            @Html.HiddenFor(x => x.ApplicationId, new { @class = "form-control", @name = "Applicationd", @id = "Applicationid" })

            <table id="default-datatable" class="table table-bordered" role="grid" aria-describedby="default-datatable_info">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th>Recruitment Id</th>
                        <th>First Name </th>
                        <th>Last Name</th>
                        <th>Mobile No</th>
                        <th>Email</th>
                        <th>Resume</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int count = 0;}

                    @foreach (var iteam in ViewBag.Applicationlist)
                    {
                        count = count + 1;
                        <tr role="row" class="even">
                            <td>@count</td>
                            <td>@iteam.Recruitmentid</td>
                            <td>@iteam.FirstName</td>
                            <td>@iteam.LastName</td>
                            <td>@iteam.MobileNo</td>
                            <td>@iteam.Email</td>
                            <td>@iteam.Resume</td>
                            <td class="text-center">
                                <div class="list-icons">
                                    <div class="dropdown">
                                        <a href="#" class="list-icons-item" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item"><i class="fa fa-edit"></i> Create Job Profile</a>
                                            <a href="#" class="dropdown-item"><i class="fa fa-trash"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>

    function Edit(Id) {
        $.ajax({
            type: "POST",
            url: "/User/CreateJobProfile",
            data: { Id: Id },
            dataType: "json",
            success: function (data) {
                $("#Id").val(data.PositionId);
            }
        });
    }

</script>

